<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Home</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
        <script src="/js/passage.js"></script>
                <!-- Latest compiled and minified CSS -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

                <!-- jQuery library -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

                <!-- Latest compiled JavaScript -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
                <link rel="stylesheet" href="css/style.css">
                <link rel="stylesheet" href="css/header.css">
    </head>
    <body ng-controller="appController">
        <div class="container-fluid">
                <nav class="navbar navbar-inverse">
                        <div class="container-fluid">
                          <div class="navbar-header">
                            <a class="navbar-brand" href="#"><strong>Employee Search</strong></a>
                          </div>
                          <ul class="nav navbar-nav">
                            <!--<li class="active"><a href="#">Home</a></li>-->
                          </ul>
                          <ul class="nav navbar-nav navbar-right">
                            <li><button class="btn btn-info btn-lg"  name="Sign" data-toggle="modal" data-target="#myModal1" ng-click="refresh()"><span class="glyphicon glyphicon-user"></span> Sign Up</button></li>
                            <li><button class="btn btn-info btn-lg"  name="Sign" data-toggle="modal" data-target="#myModal2" ng-click="refresh2()"><span class="glyphicon glyphicon-log-in"></span> Login</button></li>
                          </ul>
                        </div>
                      </nav> 
        </div>
        <!--Registration Modal-->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title" id="myModalLabel">Sign up</h4>
                    </div> <!-- /.modal-header -->
              
                    <div class="modal-body">
                      <form role="form" name="regForm">
                        <div class="form-group">
                          <div class="input-group">
                            <p>First name:<input type="text" class="form-control" id="uLogin" placeholder="First Name" name="fname" ng-model="fname" ng-required="true"></p>                                                                          
                          </div>                        
                        </div> <!-- /.form-group -->
                        <p ng-show="regForm.fname.$touched && regForm.fname.$invalid" style="text-align:center; color:red;">Firstname cannot be empty</p> 
                        <div class="form-group">
                            <div class="input-group">
                                <p>Last name:<input type="text" class="form-control" id="uLogin" placeholder="Last Name" name="lname" ng-model="lname" ng-required="true"></p>                                                                          
                            </div>                        
                        </div> <!-- /.form-group -->
                        <p ng-show="regForm.lname.$touched && regForm.lname.$invalid" style="text-align:center; color:red;">Lastname cannot be empty</p>
              
                        <div class="form-group">
                          <div class="input-group">
                                <p>E-Mail:<input type="email" class="form-control" id="uLogin" placeholder="Email" name="email" ng-model="email" ng-required="true"></p>
                          </div> <!-- /.input-group -->
                        </div> <!-- /.form-group -->
                        <p ng-show="regForm.email.$touched && regForm.email.$invalid" style="text-align:center; color:red;">Not a valid email</p>
                        <div class="form-group">
                            <div class="input-group">
                                <p>Score:<input type="text" class="form-control" id="uLogin" placeholder="Score" name="score" ng-model="score" ng-required="true"></p>
                            </div> <!-- /.input-group -->
                        </div> <!-- /.form-group -->
                        <p ng-show="regForm.score.$touched && regForm.score.$invalid" style="text-align:center; color:red;">Please fill the score</p>
                        <div class="form-group">
                            <div class="input-group">
                                <p>Password:<input type="password" class="form-control" id="uLogin" placeholder="Password" name="pass" ng-model="pass" ng-required="true" ng-minlength="4"></p>
                            </div> <!-- /.input-group -->
                        </div> <!-- /.form-group --> 
                        <p ng-show="regForm.pass.$touched && regForm.pass.$invalid" style="text-align:center; color:red;">Password should be more than 4 characters</p> 
                        <div class="form-group">
                            <div class="input-group">
                                <p>Confirm Password:<input type="password" class="form-control" id="uLogin" placeholder="Password" name="cpass" ng-model="cpass" ng-required="true"></p>
                            </div> <!-- /.input-group -->
                        </div> <!-- /.form-group -->    
                        <p style="text-align:center; color:red;">{{message}}</p>
                      </form>
              
                    </div> <!-- /.modal-body -->
              
                    <div class="modal-footer">
                      <button class="form-control btn btn-primary" ng-disabled="regForm.$invalid" ng-click="reg()">Ok</button>
              
                      <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="100" style="width: 0%;">
                          <span class="sr-only">progress</span>
                        </div>
                      </div>
                    </div> <!-- /.modal-footer -->
              
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
          
          </div>
          <!--Login Modal-->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title" id="myModalLabel">Log in</h4>
                    </div> <!-- /.modal-header -->
              
                    <div class="modal-body">
                      <form role="form" name="loginForm">
                        <div class="form-group">
                          <div class="input-group">
                            <input type="email" class="form-control" id="uLogin" placeholder="Email" name="lemail" ng-model="lemail" ng-required="true">                          
                            <label for="uLogin" class="input-group-addon glyphicon glyphicon-user"></label>                                               
                          </div>                        
                        </div> <!-- /.form-group -->
                        <p ng-show="loginForm.lemail.$touched && loginForm.lemail.$invalid" style="text-align:center; color:red;">Enter valid email address</p> 
              
                        <div class="form-group">
                          <div class="input-group">
                            <input type="password" class="form-control" id="uPassword" placeholder="Password" name="lpass" ng-model="lpass" ng-required="true" ng-minlength="4">
                            <label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
                          </div> <!-- /.input-group -->
                        </div> <!-- /.form-group -->
                        <p ng-show="loginForm.lpass.$touched && loginForm.lpass.$invalid" style="color:red" >Password should be more than 4 characters.</p>
              
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Remember me
                          </label>
                        </div> <!-- /.checkbox -->
                      </form>
              
                    </div> <!-- /.modal-body -->
              
                    <div class="modal-footer">
                      <button class="form-control btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="log()">Ok</button>
              
                      <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="100" style="width: 0%;">
                          <span class="sr-only">progress</span>
                        </div>
                      </div>
                    </div> <!-- /.modal-footer -->
              
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
              <div style="margin-top: 20%; margin-left:30%;">
                <h1>Welcome to employee search portal</h1>
              </div>
          
          </div>
    </body>
</html>